@font-face {
  font-family: "poppins_reg";
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "poppins_bold";
  src: url(./assets/fonts/Poppins-Bold.ttf);
}

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }