.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px #000;
    align-items: center;

    .nav-logo {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
            color: #171717;
            font-size: 30px;
        }
    }

    .nav-menu {
        display: flex;
        align-items: center;
        list-style-type: none;
        gap: 50px;
        color: #626262;
        font-size: 1.25rem;
        font-weight: 500;

        li {
            display: flex;
            flex-direction: column;
            gap: 3px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        hr {
            border: none;
            width: 80%;
            height: 3px;
            border-radius: 10px;
            background: #ff4141;
        }
    }

    .nav-login-cart {
        display: flex;
        align-items: center;
        gap: 45px;

        button {
            width: 157px;
            height: 58px;
            outline: none;
            border: 1px solid #7a7a7a;
            border-radius: 75px;
            color: #515151;
            font-size: 1.25rem;
            font-weight: 500;
            background: #fff;
            cursor: pointer;

            &:active {
                background: #f3f3f3;
            }
        }

        .nav-cart-count {
            width: 22px;
            height: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -35px;
            margin-left: -55px;
            border-radius: 11px;
            font-size: 0.875rem;
            background-color: red;
            color: #fff;
        }
    }

    .nav-dropdown {
        display: none;
        transition: transform 0.5s;
    }
}

@media(max-width: 1280px) {
    .navbar {
        padding: 12px 50px;

        .nav-logo {

            img {
                width: 40px;
            }

            p {
                font-size: 1.5625rem;

            }
        }

        .nav-menu {
            gap: 30px;
            font-size: 1rem;
        }

        .nav-login-cart {
            gap: 30px;


            button {
                width: 120px;
                height: 45px;
                font-size: 1rem;
            }

            .nav-cart-count {
                margin-left: -40px;
                font-size: 12px;
            }
        }
    }
}

@media(max-width: 1024px) {
    .navbar {
        padding: 12px 30px;

        .nav-menu {
            gap: 25px;
            font-size: 0.875rem;
        }

        .nav-login-cart {

            button {
                width: 80px;
                height: 35px;
                font-size: 0.875rem;
            }

            .nav-cart-count {
                width: 18px;
                height: 18px;
            }

            img {
                width: 30px;

            }
        }
    }
}

@media(max-width: 800px) {
    .navbar {
        padding: 10px 0px;

        .nav-dropdown {
            display: block;
            width: 30px;
            rotate: -90deg;
            transition: 0.5sec !important;
        }

        .nav-menu {
            display: none;
            height: 80px;
            width: 100%;
            position: absolute;
            background-color: #fff;
            justify-content: center;
            top: 50px;
        }

        .nav-menu-visible {
            display: flex;
        }

        .open {
            transform: rotate(90deg);
        }
    }
}

@media(max-width: 500px) {
    .navbar {
        width: 8px 0px;
        gap: 0;

        .nav-logo {
            transform: scale(0.8);
        }

        .nav-menu {
            height: 70px;
            top: 50px;
        }

        .nav-login-cart {
            transform: scale(0.8);
        }
    }
}