.cart-items {
    margin: 100px 170px;

    .cart-items-format-main {
        display: grid;
        grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
        align-items: center;
        gap: 75px;
        padding: 20px 0px;
        color: #454545;
        font-size: 1.125rem;
        font-weight: 600;
    }

    hr {
        height: 3px;
        background: #e2e2e2;
        border: 0;
    }

    div {

        .cart-items-format {
            font-size: 1.0625rem;
            font-weight: 500;

            .cart-icon-product-icon {
                height: 62px;

            }

            .cart-items-remove-icon {
                width: 15px;
                margin: 0px 40px;
                cursor: pointer;
            }

            .cart-items-quantity {
                width: 64px;
                height: 50px;
                border: 2px solid #ebebeb;
                background-color: #fff;
            }
        }
    }

    .cart-items-down {
        display: flex;
        margin: 100px 0px;

        .cart-items-total {
            flex: 1;
            display: flex;
            flex-direction: column;
            margin-right: 200px;
            gap: 40px;

            .cart-items-total-item {
                display: flex;
                justify-content: space-between;
                padding: 15px 0px;
            }

            button {
                width: 262px;
                height: 58px;
                outline: none;
                border: none;
                background: #ff5a5a;
                color: #fff;
                font-size: 1rem;
                font-weight: 600;
                cursor: pointer;
            }
        }

        .cart-items-promocode {
            flex: 1;
            font-size: 1rem;
            font-weight: 500;

            p {
                color: #555;
            }

            .cart-items-promobox {
                width: 504px;
                margin-top: 15px;
                padding-left: 20px;
                height: 58px;
                background: #eaeaea;

                input {
                    border: none;
                    outline: none;
                    background: transparent;
                    font-size: 1rem;
                    width: 330px;
                    height: 50px;
                }

                button {
                    width: 170px;
                    height: 58px;
                    font-size: 1rem;
                    background: #000;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
}

@media(max-width: 1280px) {
    .cart-items {
        margin: 60px 50px;

        .cart-items-format-main {
            grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
            gap: 20px;
            padding: 15px 0px;
            font-size: 0.9375rem;
        }

        div {

            .cart-items-format {

                .cart-icon-product-icon {
                    height: 50px;
                }

                .cart-items-quantity {
                    width: 40px;
                    height: 30px;
                }

                .cart-items-remove-icon {
                    margin: auto;
                }
            }
        }

        .cart-items-down {
            margin: 80px 0px;
            flex-direction: column;

            .cart-items-total {
                margin: 0;

                button {
                    max-width: 200px;
                    height: 45px;
                    font-size: 0.8125rem;
                }
            }

            .cart-items-promocode {

                .cart-items-promobox {

                    input {
                        width: 100%;
                    }

                    button {
                        width: 120px;
                        margin-left: -125px;
                    }
                }
            }
        }
    }
}

@media(max-width: 500px) {
    .cart-items {

        .cart-items-format-main {
            display: none;
            grid-template-columns: 0.5fr 3fr 0.5fr;
            gap: 10px;
        }

        div {

            .cart-items-format {
                display: grid;
            }
        }
    }
}